# directories
.settings/
.target/
.idea/
.mvn/
.worksheet/
bin/
build/
dist/
uploads/
logs/
node_modules/
out/
target/
tmp/
# files
*.iml
*/.DS_Store
\#*
.cache
.classpath
.DS_Store
.history
.idea
.idea_modules
.project
RUNNING_PID
.springBeans
*#
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.attach_pid*
.factorypath
.gradle
.metadata
.recommenders
.settings
.vscode
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache
.springBeans
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
### Eclipse ###
.apt_generated
.classpath
.project
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
### VS Code ###
.vscode/
### Mac OS ###
.DS_Store
*.db
