<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultStatementTimeout" value="100"/>
    </settings>
    <typeAliases>
        <package name="com.fodala.pojo"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/fodala/mapper/SettingsMapper.xml"/>
        <mapper resource="com/fodala/mapper/SessionMapper.xml"/>
        <mapper resource="com/fodala/mapper/ToDoMapper.xml"/>
        <mapper resource="com/fodala/mapper/UploadedFileMapper.xml"/>
    </mappers>
</configuration>
