<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head id="header" th:fragment="header">
    <title th:text="${title}">ToDo Application</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.6/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.4.1/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.js"></script>
    <link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" th:href="@{/css/todo.css}" />
    <script th:href="@{/js/todo.js}"></script>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
</head>

<body>
    <div class="col-md-3 d-none d-md-block" id="sidebar">
        <div class="card">
            <form class="d-flex" method="post" role="search" th:action="@{/search}">
                <input aria-label="Search" class="form-control me-2" id="search" name="search" placeholder="Search"
                    th:classappend="${section == 'search'} ? 'active':''" th:value="${search}" type="search">
                <button class="btn btn-outline-primary btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="card-body">
                <nav class="nav flex-column nav-pills nav-gap-y-1">
                    <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:classappend="${section == 'myday'} ? 'active':''" th:href="@{/todo/myday}">
                        <i class="fas fa-sun"></i> My Day
                        <span class="badge badge-default" th:classappend="${section == 'myday'} ? '':'bg-secondary'"
                            th:text="${count?.myday}"></span>
                    </a> <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:classappend="${section == 'important'} ? 'active':''" th:href="@{/todo/important}">
                        <i class="fas fa-star"></i> Important
                        <span class="badge badge-default" th:classappend="${section == 'important'} ? '':'bg-secondary'"
                            th:text="${count?.important}"></span>
                    </a> <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:classappend="${section == 'planned'} ? 'active':''" th:href="@{/todo/planned}">
                        <i class="fas fa-map"></i> Planned
                        <span class="badge badge-default" th:classappend="${section == 'planned'} ? '':'bg-secondary'"
                            th:text="${count?.planned}"></span>
                    </a> <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:classappend="${section == 'settings'} ? 'active':''" th:href="@{/todo/settings}">
                        <i class="fas fa-cog"></i> Settings
                    </a> <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:classappend="${section == 'history'} ? 'active':''" th:href="@{/todo/history}">
                        <i class="fas fa-clock"></i> History
                    </a>
                    <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:classappend="${section == 'tasks'} ? 'active':''" th:href="@{/todo/tasks}">
                        <i class="fas fa-thumbtack"></i> Tasks
                        <span class="badge badge-default" th:classappend="${section == 'tasks'} ? '':'bg-secondary'"
                            th:text="${count?.tasks}"></span>
                    </a>
                    <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:classappend="${section == 'calendar'} ? 'active':''" th:href="@{/todo/calendar}">
                        <i class="fas fa-calendar"></i> Calendar
                    </a>
                    <hr />
                    <a class="nav-item nav-link has-icon nav-link-faded" data-toggle="tab"
                        th:attr="data-list-id=${listName.id}"
                        th:classappend="${section == 'list' && listName.id == list_id} ? 'active':''"
                        th:each="listName: ${listNames}" th:href="@{/todo/list/} + ${listName.id}">
                        <i class="fas fa-bars"></i> <span th:remove="tag" th:text="${listName.name}"></span>
                    </a>
                </nav>
                <hr />
                <form class="form-horizontal" id="new-list-form" method="post" th:action="@{/todo/addList}" th:id="list_add">
                    <div class="d-flex flex-row align-items-center">
                        <input class="form-control" name="list" placeholder="Add new list..." />
                        <div class="btn-group-vertical">
                            <button class="btn btn-outline-primary btn-lrg" onclick="$(this).closest('form').submit();">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="btn-toolbar justify-content-between" id="pages" role="toolbar">
        <nav>
            <div>
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:classappend="${filter == 'active'} ? 'active':''">
                        <button class="btn btn-outline-primary btn-filter active" data-filter="active">
                            Active
                        </button>
                    </li>
                    <li class="page-item">
                        <button class="btn btn-outline-primary btn-filter" data-filter="completed">
                            Completed
                        </button>
                    </li>
                    <li class="page-item">
                        <button class="btn btn-outline-primary btn-filter" data-filter="all">
                            All
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="input-group">
            <nav aria-label="Navigate through todos" th:if="${totalNumberOfToDos > maxToDoItems}">
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:classappend="${page &lt; 1} ? 'disabled':''">
                        <a class="page-link" th:href="@{/section/} + ${filter} + '/' + ${page - 1}">Previous</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, pages -1)}">
                        <a class="page-link" href="#" th:href="@{/section/} + ${filter} + '/' + ${i + 1}"
                            th:text="${i + 1}">1</a>
                    <li class="page-item" th:classappend="${page &gt; pages} ? 'disabled':''">
                        <a class="page-link" th:href="@{/section/} + ${filter} + '/' + ${page + 1}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <footer class="page-footer font-small blue" id="footer">
        <div class="footer-copyright text-center py-3">
            <a href="https://github.com/ernan/todo">
                <i class="fab fa-github"></i></a>© 2023 Copyright: <a href="http://programmer.ie">programmer.ie</a>
        </div>
    </footer>

    <div id="hidden">
        <input name="id" th:value="${todo?.id}" type="hidden" />
        <input name="section" th:value="${section}" type="hidden" />
        <input name="filter" th:value="${filter}" type="hidden" />
        <input name="page" th:value="${page}" type="hidden" />
        <input name="list_id" th:value="${list_id != null} ? ${list_id}" type="hidden" />
    </div>
</body>

</html>