<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::#header}"></head>

<body class="container">
<div class="with:80%">
    <br/>
    <h1><span th:remove="tag" th:text="${title}">Todo List</span></h1>
    <br/>
    <div class="row gutters-sm">
        <div th:replace="~{common::#sidebar}"></div>
        <div class="col-md-8">
            <form class="form-horizontal" id="new-todo-form" method="post" th:action="@{/todo/add}" th:object="${todo}">
                <div th:replace="~{common::#hidden}"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <input autofocus class="form-control form-control-lg input-lg" name="title"
                                   placeholder="Add new todo...">&nbsp;
                            <button aria-label="Left Align" class="btn btn-outline-primary btn-lg">
                                <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card">
                <table id="table">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th></th>
                        <th></th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="float-right" th:replace="~{common::#pages}"></div>
        </div>
    </div>
    <div th:replace="~{common::#footer}"></div>
</div>
<script>
    $(document).ready(function() {
        var todoConfig = new Map();
        todoConfig.set("section", "[[${section}]]");
        todoConfig.set("filter", "[[${filter}]]");
        todoConfig.set("page", "[[${page}]]");
        todoConfig.set("search", "[[${search}]]");
        todoConfig.set("list_id", "[[${list_id}]]");
        todoConfig.set("count", "[[${count}]]");
        window.todoConfig = todoConfig;

        displayTodos(initTable);
    });

    function getTableButton(id, row, icon) {
        return `<button class="btn btn-table">
            <i class="${id} ${icon}" data-id="${row.id}"></i>
            </button>`;
    }

    function initTable(data) {
        $('#table').dataTable({
            "bProcessing": true,
            data: data,
            columns: [
                { data: "id", "visible": false},
                {
                    data: null,
                    render: function(data, type, row) {
                        let icon = (data["completed"] == 1) ? 'fas fa-check-circle' : 'far fa-circle';
                        return getTableButton('completed-btn', row, icon);
                    }
                },
                {
                    data: null,
                    render: function(data, type, row) {
                        let icon = (data["important"] == 1) ? 'fas fa-star text-warning' : 'far fa-star';
                        return getTableButton('important-btn', row, icon);
                    }
                },
                { data: "title"},
                { data: "status"},
                { data: "start"},
                { data: "end"},
                {
                    data: null,
                    render: function(data, type, row) {
                        return getTableButton('edit-btn', row, 'fas fa-pen');
                    }
                },
                {
                    data: null,
                    render: function(data, type, row) {
                        return getTableButton('delete-btn', row, 'fas fa-trash');
                    }
                }
            ],
        });
    }

    $('.btn-filter').click(function() {
        console.log('btn-filter clicked: ' + $(this).data('filter'));
        $('.btn-filter').not(this).removeClass('active');
        $(this).addClass('active');
        window.todoConfig.set('filter', $(this).data('filter'));
        displayTodos(refreshTable)
    });

    function refreshTable(data) {
        let table = $('#table').dataTable().api();
        table.clear().rows.add(data).draw();
    }

    function displayTodos(cb) {
        let config = window.todoConfig;
        console.log(`displayTodos: section: ${JSON.stringify(Array.from(config))}`);
        let endpoint = '[[@{/api/todo}]]';
        console.log('Getting todos: ' + endpoint);
        fetch(endpoint, {
            method: 'GET',
            headers: {
                'page': config.get('page') ? config.get('page') : '1',
                'list_id': config.get('list_id') ? config.get('list_id') : '',
                'filter': config.get('filter') ? config.get('filter') : 'active',
                'search': config.get('search') ? config.get('search') : '',
                'section': config.get('section')
              },
            })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', JSON.stringify(data));
            cb(data);
         })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    $('#table').on('click', '.important-btn', function() {
        let id = $(this).data('id');
        let endpoint = '[[@{/api/todo/important/}]]' + id;
        console.log('Marking important: ' + endpoint);
        getData(endpoint);
    });

    $('#table').on('click', '.completed-btn', function() {
        let id = $(this).data('id');
        let endpoint = '[[@{/api/todo/completed/}]]' + id;
        console.log('Marking complete: ' + endpoint);
        getData(endpoint);
    });

    $('#table').on('click', '.edit-btn', function() {
        let id = $(this).data('id');
        let endpoint = '[[@{/todo?id=}]]' + id;
        console.log('Navigation to: ' + endpoint);
        window.location.href = endpoint;
    });

    $('#table').on('click', '.delete-btn', function() {
        let id = $(this).data('id');
        let endpoint = '[[@{/api/todo/delete/}]]' + id;
        console.log('Deleting todo with id: ' + id);
        $.ajax({
          url: endpoint,
          type: 'DELETE',
          dataType: 'json',
          success: function() {
            console.log('DELETE request completed successfully.');
            let table = $('#table').dataTable().api();
            var index = table.column(0).data().indexOf(id);
            console.log('Removing row: ' + index + ' with id: ' + id);
            table.row(index).remove().draw();
          },
          error: function(xhr, textStatus, errorThrown) {
            console.error('An error occurred during the DELETE request:', errorThrown);
          }
        });
    });

    $('#new-list-form').submit(function (event) {
        event.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
                $('#list_add').replaceWith(data);
            }
        });
    });

    function getData(endpoint) {
        console.log('Getting todos: ' + endpoint);
        fetch(endpoint)
        .then(response => response.json())
        .then(data => {
            refreshRow(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function refreshRow(data) {
        let table = $('#table').dataTable().api();
        var index = table.column(0).data().indexOf(data.id);
        console.log('Refreshing row: ' + index + ' with data: ' + JSON.stringify(data));
        table.row(index).data(data);
        displayTodos(refreshTable)
    }

</script>
</body>
</html>