<!DOCTYPE html>
<html th:insert="~{layouts/layout :: page}"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Settings</div>
            <div th:if="${#lists.size(settings) == 0}">
                <div class="col-sm-10 alert alert-danger">
                    <label class="control-label">No settings found.</label>
                </div>
            </div>
            <div id="settings-table">
                <table class="table" id="settings-list">
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    <div th:each="setting : ${settings}">
                        <tr th:attr="row_id=${setting.id}">
                            <td><input class="form-control" readonly="true"
                                       th:value="${setting.name}"/></td>
                            <td><input class="form-control" readonly="true"
                                       th:value="${setting.value}"/></td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>